
#header {
  color: white; 
  background-color: black;
  text-align: center;
  padding: 25px;
}
#nav {
  float: left; 
  background-color: #DCDCDC;
    padding: 25px;
  width: 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 25px;
}
#section {
  padding-left:5%;
  margin-left: 20%;
}
#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  }
body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  
