body {
  background-color: black;
  color: white;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 12px;
  color: green;
}
div.dotted {
  border-style: dotted;
  border-width: 2px;
  width: 100px;
  height: 100px;
}
ol {
  type="A"
}
ul {
   list-style-type: square;
}
